<div class="recipe-page">
  <div class="new-recipe" *ngIf="!createSteps">
    <mat-form-field appearance="fill">
      <mat-label>Author</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="recipeCreator"
        placeholder="Name of Author"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input
        matInput
        [(ngModel)]="recipeTitle"
        placeholder="Title for Recipe"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        [(ngModel)]="recipeDescription"
        placeholder="Description for Recipe"
      ></textarea>
    </mat-form-field>

    <button mat-button (click)="newRecipeMethod(recipeCreator, recipeTitle, recipeDescription)">Create Recipe Steps</button>
  </div>

  <div class="recipe-list">
    <h3 *ngIf="allRecipes.length > 1">Header</h3>
    <!-- REPLACE THIS WITH THE FETCHED ARRAY OF USER RECIPES -->
    <ul *ngFor="let recipe of allRecipes">
      <li>{{ recipe.title }}</li>
    </ul>
  </div>

  <div class="new-step" *ngIf="createSteps">
    <mat-form-field appearance="fill">
      <mat-label>Step title</mat-label>
      <input matInput [(ngModel)]="stepTitle" placeholder="Title for step" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Step Description</mat-label>
      <textarea
        matInput
        [(ngModel)]="stepDescription"
        placeholder="Describe this step"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Step Image URL</mat-label>
      <input
        matInput
        [(ngModel)]="stepImageUrl"
        placeholder="Enter the url for an image you want with this step(optional)"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Step Video URL</mat-label>
      <input
        matInput
        [(ngModel)]="stepVideoUrl"
        placeholder="Url for a video you want to embed with this step"
      />
    </mat-form-field>

    <button
      mat-button
      (click)="
        newStepsMethod(stepTitle, stepDescription, stepImageUrl, stepVideoUrl)
      "
    >
      Add New Step
    </button>
    <button mat-button (click)="handleFinishedSteps()">Finished</button>
  </div>
  <div>
    <ul *ngFor="let step of showSteps">
      <li>{{ step.title }}</li>
    </ul>
  </div>

</div>
