.panel-default {
    border-color: coral;
}

.panel {
    margin-bottom: 20px;
    background-color: #d8c4ff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgba(66, 63, 63, 0.7);
}