<h2>SIGN-UP</h2>
<form class="signup-form" (ngSubmit)="onSubmit()" >
    <mat-form-field class="login-full-width">
      <mat-label>name</mat-label>
      <input matInput placeholder="Your email" [formControl]="signupNameControl">
    </mat-form-field>
    <mat-form-field class="login-full-width">
        <mat-label>password</mat-label>
        <input matInput type="password"placeholder="Password" [formControl]="signupPassControl">
      </mat-form-field>
      <button mat-raised-button>Submit Signup</button>
  </form>